.image-preview {
    height: 72px;
    width: 72px;
    object-fit: cover;
    border-radius: 8px;
}

.play-icon {
    position: relative;
    height: 72px;
    width: 72px;
    object-fit: scale-down;
    margin-left: -72px;
}

.block-title {
    font-size: 17px;
    font-weight: 600;
}

.link {
    margin-top: 6px;
    color: #4986CC;
    font-size: 12px;
}

.subtitle {
    color: #818C99;
    font-size: 12px;
    margin: 6px 0;
}

.header-block {
    display: flex;
    flex-direction: row;
}

.image-preview-block {

}

.podcast-title-text-block {
    padding-top: 6px;
    padding-left: 14px;
    display: flex;
    flex-direction: column;
}

.timecode-time {
    font-size: 17px;
    color: #4986CC;
}

.timecode-title {
    font-size: 17px;
    color: black;
}

.separator {

}

.description-text {
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 38px;
}

.next-button {
    margin-top: 12px;
    position: sticky;
    bottom: 12px;
}

.Separator__in {
    margin-left: 0;
}